/* Colors */

:root {
  --primary-color-org: #ffa63d;
  --color-chat-yellow: #f7df1e;
  --color-chat-orange: #ff731d;
  --color-chat-gray: #a19791;
  --color-gray-light: #f7f5f4;
  --color-white: #ffffff;

  --bg-gray-light: #dcdcdc;
}
